* {
    box-sizing: border-box
}

H2{
    color: white;
}

.container {
  width: 100%;
  background-color: rgba(221, 221, 221, 0.37);
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 70%; background-color: rgb(76, 175, 80);}
.css {width: 90%; background-color: rgb(18, 144, 247);}
.js {width: 55%; background-color: rgb(244, 67, 54);}
.php {width: 80%; background-color: hsl(0, 0%, 50%);}