#hobbys{
    position: absolute;
    top: 200px;
    right: 15px;
    color: white;
  }
  
  #imgom{
    display: flex;
    justify-content: center;
  }
  
  #imgom > img {
    line-height: 75px;
    height: 200px;
    width: 260px;
  }
#trek{
    position: absolute;
    top: 300px;
    left: 40%;
    height: 200px;
    width: 260px;
}
#p{
    position: absolute;
    top: 260px;
    left: 44%;
    text-align: center;
}