.container {
    position: absolute;
    top: 180px;
    right: 300px;
  }
  
  .image {
    display: block;
    width: 450px;
    height: 450px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1f82c9   ;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
#beschrijf{
  height: 400px;
  width: 500px;
  position: absolute;
  top: 140px;
  left: 50px;
  color: white;
  text-align: center;
  font-size: 25px;
}
.fa {
  font-size: 80px;
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 80px;
  right: 80px;
  color: white;
}

.fa:hover {
  color: darkblue;
}
#links{
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 520px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33333362;
}

.links:first-child {
  border-right: 1px solid #bbb;
}

.links a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.links a:hover:not(.active) {
background-color: #111;
}
