body{
    height: 100%;
    width: 98%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    z-index: 1;
    background: linear-gradient(270deg, #333, #1f82c9, #1f38c9);
    background-size: 300% 300%;

    animation: background 20s ease infinite;
}

@keyframes background {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}


header{
    height: 10%;
    width: 100%;  
}

main{
    height: 80%;
    width: 100%;
}

footer{
    width: 100%;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

h1{
    color: white;
    text-align: center;
}


.blok {
  display: inline-block;
  text-align: left; 
  border-right:1px solid #bbb;
}

.blok:last-child {
  border-right: none;
}

.blok a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.blok a:hover:not(.active) {
  background-color: #111;
}

.bubbles{
    position: absolute;
    top: 489px;
    left: 0;
    width: 97%;
    height: 80%;
    z-index: -1;
    transform: translateZ(0);
}

.bubbles li{
    position: absolute;
    list-style: none;
    display: block;
    background-color: #67a4ff;
    bottom: -100px;
    animation: square 20s infinite;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1){
    width: 40px;
    height: 40px;
    left: 20%;
}

.bubbles li:nth-child(2){
    width: 60px;
    height: 60px;
    left: 30%;
    animation-delay: 2s;
    animation-duration: 17s;
}

.bubbles li:nth-child(3){
    width: 10px;
    height: 10px;
    left: 46;
    animation-delay: 4s;
    animation-duration: 13s;
}

.bubbles li:nth-child(4){
    width: 80px;
    height: 80px;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 22s;
}

.bubbles li:nth-child(5){
    width: 50px;
    height: 50px;
    left: 50%;
    animation-delay: 7s;
    animation-duration: 12s;
}

.bubbles li:nth-child(6){
    width: 33px;
    height: 33px;
    left: 45%;
    animation-delay: 4s;
    animation-duration: 19s;
}

.bubbles li:nth-child(7){
    width: 60px;
    height: 60px;
    left: 10%;
    animation-delay: 10s;
    animation-duration: 24s;
}

.bubbles li:nth-child(8){
    width: 75px;
    height: 75px;
    left: 65%;
    animation-delay: 19s;
    animation-duration: 14s;
}

.bubbles li:nth-child(9){
    width: 25px;
    height: 25px;
    left: 95%;
    animation-delay: 20s;
    animation-duration: 12s;
}

.bubbles li:nth-child(10){
    width: 27px;
    height: 27px;
    left: 88%;
    animation-delay: 14s;
    animation-duration: 6s;
}

@keyframes square{
    0% {
        transform: translateY(o);
    }
    100% {
        transform: translateY(-1080px) rotate(630deg)
    }
}
